<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Master1.master.cs" Inherits="ProteinPowders_1525594.Master1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet1.css" runat="server" />
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div id="content">
    <div id="banner">
        <img src="~/images/ProteinBanner.jpg" alt="" runat="server" />
    </div>
    <div id="Top_Nav">
        <a href="~/default.aspx" title="Home" runat="server">
            <img src="~/images/home.png" alt="home" title="Home" runat="server" /></a>
        <a href="#" title="Products" runat="server">
            <img src="~/images/product.png" alt="product" title="Product" runat="server" /></a>
        <a href="~/contact.aspx" title="Home" runat="server">
            <img src="~/images/contact.png" alt="contact" title="Contact" runat="server" /></a>
    </div>
        </div>

    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>

    <footer>
        Validator <a href="http://validator.w3.org/check?uri=referer">Validate HTML</a> <a href="http://jigsaw.w3.org/css-validator/check/referer">Validate CSS</a>  <a href="http://achecker/ca/checker/?uri=referer">Check WCAG</a>
        | Admin: <a href="~/login.aspx" runat="server">Login</a>
    </footer>

</body>
</html>
